@model IEnumerable<poki.Models.Groups>

<div>
  <h2>Wykaz grup w systemie</h2>
  <div class="row">
    <div class="col-md-offset-10">
      <button class="btn btn-primary" onclick="location.href='/Home/AddNewGroup/'">
        Dodaj Grupę
      </button>
    </div>
    <br />
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <table id="Persons" class="table table-bordered">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Data</th>
              <th><span class="glyphicon glyphicon-trash"></span></th>

            </tr>
          </thead>
          <tbody>
            @foreach (var c in Model)
            {
              <tr data-id=@c.ID>
                <td class="participant-item">@c.Name</td>
                <td class="participant-item">@c.CreationDate</td>
                <td width="20">
                  <input type="checkbox" class="checkbox" />
                 @* @Html.Hidden("data_id", c.ID)*@
                </td>


              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-9">
        <button class="btn btn-danger">
          Usuń zaznaczone
        </button>
      </div>
    </div>

  </div>



