@model int
@Scripts.Render("~/bundles/Charts")

<h2>GroupStats</h2>

<div style="width: 75%">
  <canvas id="canvas"></canvas>
</div>
@Html.Hidden("participantInGroupID",Model)
@*<div class="opisy-ksywki">
  <p></p>
  <div class="well"></div>
</div>*@